body {
	color: black;
	background: white none;
	font: 12pt sans-serif;
}

ul.nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 5px auto;
	padding: 0;
	width: 40%;
	list-style-type: none;
}

ul.nav li {
	display: block;
	margin: 10px;
	padding: 0;
}

.graph {
	display: block;
	width: fit-content;
	width: -moz-fit-content;
	margin: 0 auto;
	padding: 0;

	position: relative;
	left: 0;
	top: 0;
}

.graph svg {
	display: block;
	margin: 0;
	padding: 0;
	z-index: -1;
}

.graph canvas {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
}

.sidebar {
	display: block;
	position: absolute;
	left: 900px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font: 10pt sans-serif;
	border: 1px solid black;
	z-index: 1;
}

ul.legend {
	top: 10px;
	width: fit-content;
	width: -moz-fit-content;
}

ul.legend li {
	color: white;
	margin: 0;
	padding: 0.5ex 1ex;
	font-weight: bold;
	min-width: fit-content;
	min-width: -moz-fit-content;
}

.controls {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	background: #333 none;
	bottom: 29px;
	width: 100px;
}

.controls button {
	margin: 5px;
	flex: 1 0;
	min-width: fit-content;
	min-width: -moz-fit-content;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis line {
	stroke-opacity: 0.2;
}

.axis text {
	font: 8pt sans-serif;
}
